<div class="slide trivia-detail no-mask no-parallax">
   <div class="slide-bg-outer">
      <div class="slide-bg"></div>
   </div>
   <div class="slide-wrapper">
      <div class="bar">
         <img src="/etc/designs/scholastic/harrypotter/clientlibs/core/images/extras/hp-heading.png" alt="harry potter" class="logo">
         <div><h1>Trivia Game</h1></div>
         <div><a href="">End game <span class="icon-close" aria-hidden="true"></span></a></div>
      </div>
      <div class="intro">
         <ul class="books">
            <li class="book"><img src="/etc/designs/scholastic/harrypotter/clientlibs/core/images/covers/cover-big-1.png" alt="Harry Potter and the Sorcerer’s Stone" class="cover"></li>
            <li class="book"><img src="/etc/designs/scholastic/harrypotter/clientlibs/core/images/covers/cover-big-2.png" alt="Harry Potter and the Chamber of Secrets" class="cover"></li>
            <li class="book"><img src="/etc/designs/scholastic/harrypotter/clientlibs/core/images/covers/cover-big-3.png" alt="Harry Potter and the Prisoner of Azkaban" class="cover"></li>
            <li class="book"><img src="/etc/designs/scholastic/harrypotter/clientlibs/core/images/covers/cover-big-4.png" alt="Harry Potter and the Goblet of Fire" class="cover"></li>
            <li class="book"><img src="/etc/designs/scholastic/harrypotter/clientlibs/core/images/covers/cover-big-5.png" alt="Harry Potter and the Order of the Phoenix" class="cover"></li>
            <li class="book"><img src="/etc/designs/scholastic/harrypotter/clientlibs/core/images/covers/cover-big-6.png" alt="Harry Potter and the Half-Blood Prince" class="cover"></li>
            <li class="book"><img src="/etc/designs/scholastic/harrypotter/clientlibs/core/images/covers/cover-big-7.png" alt="Harry Potter and the Deathly Hallows" class="cover"></li>
         </ul>
         <h2>Wizard’s Challenge</h2>
         <p>Test your Potter knowledge! Play until you miss 3 questions. Then test your expertise again to beat your score!</p>
         <div class="buttons">
            <a href="" class="button bordered bigger-gap play">Play</a>
         </div>
      </div>
      <div class="quiz">
         <div class="quiz-inner">
            <div class="message"></div>
            <div class="left">
               <div class="title">Question From Year 2</div>
               <div class="content">
                  <div class="question"></div>
               </div>
            </div>
            <div class="right">
               <div class="title">Choose wisely</div>
               <div class="content">
                  <ul class="answers">
                     <li class="answer" data-answer-order="1"></li>
                     <li class="answer" data-answer-order="2"></li>
                     <li class="answer" data-answer-order="3"></li>
                     <li class="answer" data-answer-order="4"></li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="wands">
            <img src="/etc/designs/scholastic/harrypotter/clientlibs/core/images/trivia/quiz-wand-1.png" width="40" height="47" alt="quiz wand">
            <img src="/etc/designs/scholastic/harrypotter/clientlibs/core/images/trivia/quiz-wand-2.png" width="43" height="47" alt="quiz wand">
            <img src="/etc/designs/scholastic/harrypotter/clientlibs/core/images/trivia/quiz-wand-3.png" width="40" height="47" alt="quiz wand">
         </div>
         <div class="cover">
            <img src="/etc/designs/scholastic/harrypotter/clientlibs/core/images/trivia/quiz-cover-1.png" alt="">
            <img src="/etc/designs/scholastic/harrypotter/clientlibs/core/images/trivia/quiz-cover-2.png" alt="">
            <img src="/etc/designs/scholastic/harrypotter/clientlibs/core/images/trivia/quiz-cover-3.png" alt="">
            <img src="/etc/designs/scholastic/harrypotter/clientlibs/core/images/trivia/quiz-cover-4.png" alt="">
         </div>
      </div>
   </div>
</div>