
				<div class="slide sorting-hat">
					<div class="slide-bg-outer">
						<div class="slide-bg"></div>
					</div>

					<div class="slide-wrapper">
						<div class="centered">
							<img src="/content/dam/scholastic/harrypotter/image/extras/hat.png" alt="">

							<h2>Welcome to Hogwarts</h2>
							<span class="smaller">I’m the Sorting Hat and you all know the score: I sort you into Houses because<br>that is what I’m for. I have told you, I have warned you...</span>
							<div class="clear"></div>
							<a href="" class="button medium-gap">let the sorting begin!</a>
						</div>
					</div>
				</div>