<div class="slide explore">
    <div class="slide-bg-outer">
        <div class="slide-bg" style="background-image: url(images/bg/video-bg-2.jpg)"></div>
    </div>

    <div class="explore-helper">
        <div class="explore-abg"></div>

        <div class="explore-video">
            <a href="" class="video-close"><img src="/etc/designs/scholastic/harrypotter/clientlibs/core/images/extras/icon-close-video.png" alt="close"> Skip</a>
            <video src="/etc/designs/scholastic/harrypotter/clientlibs/core/video/intro-v3.mp4" preload="auto" muted></video>
        </div>

        <div class="slide-holder">

            <img src="/etc/designs/scholastic/harrypotter/clientlibs/core/images/extras/harry.png" alt="harry potter on broom illustration" class="harry">

            <div class="slide-wrapper">
                <div class="centered hp-heading">
                    <img src="/etc/designs/scholastic/harrypotter/clientlibs/core/images/extras/hp-heading.png" alt="harry potter">
                </div>
                <div class="books-paragraph">
                    <h2>The Books</h2>
                    <p>Follow Harry Potter on all of his magical adventures in the seven books—from his arrival at the Hogwarts School of Witchcraft and Wizardry to his battle with the most evil wizard of all time! This bestselling fantasy series has cast a spell on readers all over the world—now it’s time for YOU to discover the magic!</p>
                    <a href="" class="link"><span>Check out new cover art by Kazu Kibuishi!</span></a>
                </div>

                <div class="slider-frame">
                    <ul class="covers">
                        <li class="particle">
                            <div class="like">
                                <div class="thumbs-up">s</div>
                            </div>
                            <div class="cover-holder-outer">
                                <div class="cover-holder">
                                    <a href="${properties.coverUrlOne}" data-sly-test="${properties.coverImageOneReference}">
                                        <img src="${properties.coverImageOneReference}" alt="Harry Potter and the Sorcerer’s Stone" class="cover old">
                                    </a>
                                    <div class="cover side">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                    <a href="${properties.newCoverUrlOne}" data-sly-test="${properties.newCoverImageOneReference}">
                                        <img src="${properties.newCoverImageOneReference}" alt="Harry Potter and the Sorcerer’s Stone - new cover" class="cover new">
                                    </a>
                                </div>
                            </div>
                            <div class="book-name" style="background-image: url(/etc/designs/scholastic/harrypotter/clientlibs/core/images/covers/1.png)">
                                <span>${properties.coverNameOne}</span>
                            </div>
                        </li>
                        <li class="particle">
                            <div class="like">
                                <div class="thumbs-up">s</div>
                            </div>
                            <div class="cover-holder-outer">
                                <div class="cover-holder">
                                    <a href="${properties.coverUrlTwo}" data-sly-test="${properties.coverImageTwoReference}">
                                        <img src="${properties.coverImageTwoReference}" alt="Harry Potter and the Chamber of Secrets" class="cover old">
                                    </a>
                                    <div class="cover side">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                    <a href="${properties.newCoverUrlTwo}" data-sly-test="${properties.newCoverImageTwoReference}">
                                        <img src="${properties.newCoverImageTwoReference}" alt="Harry Potter and the Chamber of Secrets - new cover" class="cover new">
                                    </a>
                                </div>
                            </div>
                            <div class="book-name" style="background-image: url(/etc/designs/scholastic/harrypotter/clientlibs/core/images/covers/2.png)">
                                <span>${properties.coverNameTwo}</span>
                            </div>
                        </li>
                        <li class="particle">
                            <div class="like">
                                <div class="thumbs-up">s</div>
                            </div>
                            <div class="cover-holder-outer">
                                <div class="cover-holder">
                                    <a href="${properties.coverUrlThree}" data-sly-test="${properties.coverImageThreeReference}">
                                        <img src="${properties.coverImageThreeReference}" alt="Harry Potter and the Prisoner of Azkaban" class="cover old">
                                    </a>
                                    <div class="cover side">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                    <a href="${properties.newCoverUrlThree}" data-sly-test="${properties.newCoverImageThreeReference}">
                                        <img src="${properties.newCoverImageThreeReference}" alt="Harry Potter and the Prisoner of Azkaban - new cover" class="cover new">
                                    </a>
                                </div>
                            </div>
                            <div class="book-name" style="background-image: url(/etc/designs/scholastic/harrypotter/clientlibs/core/images/covers/3.png)">
                                <span>${properties.coverNameThree}</span>
                            </div>
                        </li>
                        <li class="particle">
                            <div class="like">
                                <div class="thumbs-up">s</div>
                            </div>
                            <div class="cover-holder-outer">
                                <div class="cover-holder">
                                    <a href="${properties.coverUrlFour}" data-sly-test="${properties.coverImageFourReference}">
                                        <img src="${properties.coverImageFourReference}" alt="Harry Potter and the Goblet of Fire" class="cover old">
                                    </a>
                                    <div class="cover side">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                    <a href="${properties.newCoverUrlFour}" data-sly-test="${properties.newCoverImageFourReference}">
                                        <img src="${properties.newCoverImageFourReference}" alt="Harry Potter and the Goblet of Fire - new cover" class="cover new">
                                    </a>
                                </div>
                            </div>
                            <div class="book-name" style="background-image: url(/etc/designs/scholastic/harrypotter/clientlibs/core/images/covers/4.png)">
                                <span>${properties.coverNameFour}</span>
                            </div>
                        </li>
                        <li class="particle">
                            <div class="like">
                                <div class="thumbs-up">s</div>
                            </div>
                            <div class="cover-holder-outer">
                                <div class="cover-holder">
                                    <a href="${properties.coverUrlFive}" data-sly-test="${properties.coverImageFiveReference}">
                                        <img src="${properties.coverImageFiveReference}" alt="Harry Potter and the Order of the Phoenix" class="cover old">
                                    </a>
                                    <div class="cover side">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                    <a href="${properties.newCoverUrlFive}" data-sly-test="${properties.newCoverImageFiveReference}">
                                        <img src="${properties.newCoverImageFiveReference}" alt="Harry Potter and the Order of the Phoenix - new cover" class="cover new">
                                    </a>
                                </div>
                            </div>
                            <div class="book-name" style="background-image: url(/etc/designs/scholastic/harrypotter/clientlibs/core/images/covers/5.png)">
                                <span>${properties.coverNameFive}</span>
                            </div>
                        </li>
                        <li class="particle">
                            <div class="like">
                                <div class="thumbs-up">s</div>
                            </div>
                            <div class="cover-holder-outer">
                                <div class="cover-holder">
                                    <a href="${properties.coverUrlSix}" data-sly-test="${properties.coverImageSixReference}">
                                        <img src="${properties.coverImageSixReference}" alt="Harry Potter and the Half-Blood Prince" class="cover old">
                                    </a>
                                    <div class="cover side">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                    <a href="${properties.newCoverUrlSix}" data-sly-test="${properties.newCoverImageSixReference}">
                                        <img src="${properties.newCoverImageSixReference}" alt="Harry Potter and the Half-Blood Prince - new cover" class="cover new">
                                    </a>
                                </div>
                            </div>
                            <div class="book-name" style="background-image: url(/etc/designs/scholastic/harrypotter/clientlibs/core/images/covers/6.png)">
                                <span>${properties.coverNameSix}</span>
                            </div>
                        </li>
                        <li class="particle">
                            <div class="like">
                                <div class="thumbs-up">s</div>
                            </div>
                            <div class="cover-holder-outer">
                                <div class="cover-holder">
                                    <a href="${properties.coverUrlSeven}" data-sly-test="${properties.coverImageSevenReference}">
                                        <img src="${properties.coverImageSevenReference}" alt="Harry Potter and the Deathly Hallows" class="cover old">
                                    </a>
                                    <div class="cover side">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                    <a href="${properties.newCoverUrlSeven}" data-sly-test="${properties.newCoverImageSevenReference}">
                                        <img src="${properties.newCoverImageSevenReference}" alt="Harry Potter and the Deathly Hallows" class="cover new">
                                    </a>
                                </div>
                            </div>
                            <div class="book-name" style="background-image: url(/etc/designs/scholastic/harrypotter/clientlibs/core/images/covers/7.png)">
                                <span>${properties.coverNameSeven}</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--<a href="" class="button bordered big-gap">explore the magic world</a>-->
            </div>
        </div>
    </div>
</div>
<style>
    .slide.explore .slide-bg {
        background-image: url(${properties.backgroundImageReference @ context='uri'}) !important;
    }
    
    body.is-ie .slide.explore .covers .particle .cover-holder::before {
        z-index: 0;
    }
</style>