<div class="slide glossary">
    <div class="slide-bg-outer">
        <div class="slide-bg-svg">
            <svg>
                <defs>
                    <pattern id="slide-bg-3" patternUnits="userSpaceOnUse" width="1080" height="100%">
                        <image xlink:href="${properties.backgroundReference}" x="0" y="0" width="100%" height="100%" preserveAspectRatio="xMinYMin slice" />
                    </pattern>
                </defs>

                <path d="M0,30 C200,-6 510,-13 540,30 C570,-13 880,-6 1080,30 V 2000 H 0" fill="url(#slide-bg-3)"></path>
            </svg>
        </div>
    </div>
    <img src="/etc/designs/scholastic/harrypotter/clientlibs/core/images/extras/characters.png" alt="harry potter characters illustration" class="characters">

    <div class="slide-wrapper">
        <div class="centered">
            <div class="glossary-heading">
                <h2>${properties.titleText}</h2>
            </div>
            <span class="wod">${properties.wordOfTheDayTitleText}</span>

            <div class="search">
                <form action="/content/harrypotter/en/glossary.html">
                    <div class="input">
                        <input type="submit" name="submit" id="submit">
                        <label for="submit" class="search-for"><img src="/etc/designs/scholastic/harrypotter/clientlibs/core/images/extras/magnify.png" alt="magnify"></label>
                        <input type="text" name="search-terms" value="" placeholder="${properties.termText}" autocomplete="off" data-placeholder="${properties.termText}">
                        <div class="speaker">
                            <img data-sly-test="${properties.audio}" src="/etc/designs/scholastic/harrypotter/clientlibs/core/images/extras/speaker.png" alt="speaker">
                            <audio id="term-audio" preload="none">
                                <source src="${properties.audio}">
                            </audio>
                        </div>
                    </div>
                </form>
            </div>

            <div class="result">
                ${properties.definitionText}
            </div>
            <a href="${properties.buttonUrl}" class="button bordered big-gap" data-sly-test="${properties.buttonUrl}">${properties.buttonText}</a>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        //Bind action for audio icon
        $(".speaker img").click(function(){
            var audio = $("#term-audio");
            if (audio && audio.length > 0) audio[0].play();
        });
        
      	//Bind action for search icon
      	$(".search-for img").click(function(){
        	var $form = $(".slide-wrapper .search form");
			$form.submit();
        });

        //Bind action for search form submit
        $(".slide-wrapper .search form").submit(function(e) {
            e.preventDefault();
            var glossaryPageURL = $(this).attr("action");
            var $input = $("input[name='search-terms']");
            var searchTerm = "";

            if($input.val() || $(this).attr("data-see-more")) {
                searchTerm = $input.val();
            }
            else {
                searchTerm = $input.attr("data-placeholder");
            }

            window.open(glossaryPageURL+"?search-terms="+searchTerm, "_self");
        });

        //Bind action for see more button
        $(".slide-wrapper .button.bordered.big-gap").click(function(e) {
            e.preventDefault();
            var $form = $(".slide-wrapper .search form");
            $form.attr("data-see-more", true);
            $form.submit();
        });
    });
</script>

<style data-sly-use.AudioIconColor="AudioIconColorizer.js">
    input[name="search-terms"]::-webkit-input-placeholder {
        color: #${properties.termColor @ context='styleToken'} !important;
    }

    input[name="search-terms"]::-moz-placeholder {
        color: #${properties.termColor @ context='styleToken'} !important;
    }

    input[name="search-terms"]:-ms-input-placeholder {
        color: #${properties.termColor @ context='styleToken'} !important;
    }

    input[name="search-terms"]:-moz-placeholder {
        color: #${properties.termColor @ context='styleToken'} !important;
    }

    .slide.glossary .slide-bg {
        background-image : url(${properties.backgroundReference @ context='uri'}) !important;
    }

    .glossary-heading:after {
        background : no-repeat url(${properties.iconReference @ context='uri'}) center center / contain !important;
    }

    .glossary-heading h2 {
        color : #${properties.titleColor @ context='styleToken'} !important;
    }

    .slide.glossary .slide-wrapper .result {
        color : #${properties.definitionColor @ context='styleToken'} !important;
    }

    .slide.glossary .slide-wrapper .search form .input .speaker img {
        -webkit-filter: ${AudioIconColor.colorFilter @ context='unsafe'} !important;
    }

    .slide.glossary .slide-wrapper .wod {
        color : #${properties.wordOfTheDayTitleTextColor @ context='styleToken'} !important;
    }
</style>